<link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
<div id="body">
    <div id="header">
        <a id="alogo" href="/"><img id="logo" src="<%= assetPath('images/logo.png') %>"></a>
        <a id="a" href="/cart">
            <button type="submit" class="fa-solid fa-cart-shopping"></button>
        </a>
        <a id="a" href="/permission">
            <button type="submit" class="fas fa-lock"></button>
        </a>
        <a id="a" href="/users/signout">
            <button type="submit" class="fas fa-sign-out-alt"></button>
        </a>
    </div>
</div>