<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<div id="home-container">
    <br>
    <form action="/deleteAllData" method="post">
        <button id="deleteButton" type="submit" onclick="return (alert(event) && alert(event))">Clear Site</button>
    </form>
    <br>
    <br>
</div>