<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<div id="home-container">
    <br>
    <a href="/session-delete/all">
        <button style="width: fit-content;" type="submit" onclick="return alert(event)" class="fas fa-sign-out-alt">
            Log Out All
        </button>
    </a>
    <br>
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>Username</th>
                <th>Date</th>
                <th>Log Out</th>
            </tr>
        </thead>
        <tbody>
            <% for(let session of sessionlist){ %>
            <tr>
                <td><%=session.name%></td>
                <td><%=session.expires%></td>
                <td>
                    <a href="/session-delete/<%=session.id%>">
                        <button style="width: fit-content;" type="submit" class="fas fa-sign-out-alt"></button>
                    </a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <br>
    <br>
</div>