<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<div id="home-container">
    <form action="/permission_user_create_form" method="post">
        <br>
        <input name="name" type="text" placeholder="Enter your name here ...." required>
        <br>
        <input name="email" type="email" placeholder="Enter your email here ...." required>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>