<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<div id="home-container">
    <form action="/approvalRecvPage" method="get">
        <br>
        <select id="approval" name="id" required>
            <option value="">Select Approval ...</option>
            <% for(let i of approvalTable){ %>
            <option value="<%= i.id %>">
                <%= (i.userTake ? "[ X ]  " : "").toString() + i.customer.name + " | " + i.cart.length + " | [ " + new Date(i.approvedDate).toLocaleDateString('en-GB') + " ]" %>
            </option>
            <% } %>
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>