<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        padding: 10px;
        width: 90%;
    }

    .grid-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--bg2Color);
        padding: 10px;
        border-radius: 5px;
    }
</style>
<link rel="stylesheet" href="<%= assetPath('css/stockTable.css') %>">
<div id="home-container">
    <div class="grid-container" id="gridContainer"></div>
    <table id="DownloadTable" border="1" cellspacing="0" hidden></table>
    <table id="ViewTable" border="1" cellspacing="0"></table>
</div>
<script>
    let stockTable = JSON.parse((`<%= JSON.stringify(stockTable,null,2) %>`).replaceAll('&#34;', '"'));
</script>
<script>
    function updateTable(element) {
    }

    function startButtons() {
        let checkList = [];
        for (let item of stockTable) {
            checkList.push(item.prefix + " " + item.ornament);
        }
        checkList = Array.from(new Set(checkList));
        for (let i = 0; i < checkList.length; i++) {
            gridContainer.innerHTML += `<label for="checkbox${i}" class="grid-item">
                <span style="color: white;">${checkList[i]}</span>
                <span><input style="width: 50px;" id="checkbox${i}" type="checkbox" 
                        value="${checkList[i]}" onchange="updateTable('${checkList[i]}','${checkList[i]}')"></span>
            </label>`;
        }
    }

    function buildTable() {
        $("#DownloadTable")[0].innerHTML = "";
        let row = $('<tr/>');
        row.addClass("bold backgroundDark")
        row.append($('<td/>').html("S. No."));
        row.append($('<td/>').html("SKU"));
        row.append($('<td/>').html("Tag"));
        row.append($('<td/>').html("Purity"));
        row.append($('<td/>').html("Gross Wt"));
        row.append($('<td/>').html("Net Wt"));
        row.append($('<td/>').html("Stone Wt<br>(In gms)"));
        row.append($('<td/>').html("Stone Wt<br>(In ct)"));
        row.append($('<td/>').html("Stock<br>Type"));
        $("#DownloadTable").append(row);
        for (let i = 0; i < currentTable.length; i++) {
            let row = $('<tr/>');
            row.append($('<td/>').html(i + 1));
            row.append($('<td/>').html(currentTable[i].index));
            row.append($('<td/>').html(currentTable[i].prefix + " " + currentTable[i].ornament +
                (currentTable[i].tag ? ("-" + currentTable[i].tag) : "")));
            row.append($('<td/>').html(currentTable[i].purity));
            row.append($('<td/>').html(currentTable[i].grossWt.toFixed(3)));
            row.append($('<td/>').html(currentTable[i].netWt.toFixed(3)));
            row.append($('<td/>').html(currentTable[i].stoneWt.toFixed(3)));
            row.append($('<td/>').html((currentTable[i].stoneWt * 5).toFixed(3)));
            row.append($('<td/>').html(currentTable[i].stockType));
            $("#DownloadTable").append(row);
        }
        $("#ViewTable")[0].innerHTML = "";
        row = $('<tr/>');
        row.addClass("bold backgroundDark")
        row.append($('<td/>').html("S. No."));
        row.append($('<td/>').html("Cart"));
        row.append($('<td/>').html("SKU").attr('onclick', 'sortBy("index", "number", 1)'));
        row.append($('<td/>').html("Prefix").attr('onclick', 'sortBy("prefix", "text", 1)'));
        row.append($('<td/>').html("Ornament").attr('onclick', 'sortBy("ornament", "text", 1)'));
        row.append($('<td/>').html("Tag").attr('onclick', 'sortBy("tag", "number", 1)'));
        row.append($('<td/>').html("Purity").attr('onclick', 'sortBy("purity", "text", 1)'));
        row.append($('<td/>').html("Stock Type").attr('onclick', 'sortBy("stockType", "text", 1)'));
        row.append($('<td/>').html("Gross Wt").attr('onclick', 'sortBy("grossWt", "number", 1)'));
        row.append($('<td/>').html("Net Wt").attr('onclick', 'sortBy("netWt", "number", 1)'));
        row.append($('<td/>').html("Stone Wt").attr('onclick', 'sortBy("stoneWt", "number", 1)'));
        row.append($('<td/>').html("Sold To").attr('onclick', 'sortBy("billCustomer", "text", 1)'));
        row.append($('<td/>').html("Sold By").attr('onclick', 'sortBy("billUser", "text", 1)'));
        row.append($('<td/>').html("Sold Date").attr('onclick', 'sortBy("billDate", "date", 1)'));
        row.append($('<td/>').html("Selling Price").attr('onclick', 'sortBy("sellingPrice", "number", 1)'));
        row.append($('<td/>').html("In Stock").attr('onclick', 'sortBy("isInStock", "text", 1)'));
        row.append($('<td/>').html("Created By").attr('onclick', 'sortBy("createdBy", "text", 1)'));
        row.append($('<td/>').html("Created Date").attr('onclick', 'sortBy("createdDate", "date", 1)'));
        row.append($('<td/>').html("Kaarigar").attr('onclick', 'sortBy("kaarigar", "text", 1)'));
        row.append($('<td/>').html("HUID").attr('onclick', 'sortBy("HUID", "text", 1)'));
        row.append($('<td/>').html("IsKDM").attr('onclick', 'sortBy("isKDM", "text", 1)'));
        row.append($('<td/>').html("Remark").attr('onclick', 'sortBy("remark", "text", 1)'));
        row.append($('<td/>').html("Photos").attr('onclick', 'sortBy("photoCount", "number", 1)'));
        $("#ViewTable").append(row);
        for (let i = 0; i < currentTable.length; i++) {
            let row = $('<tr/>');
            row.append($('<td/>').html(i + 1));
            row.append($('<td/>').html(
                `<a class="fa-solid fa-cart-plus" style="text-decoration: none; cursor: pointer; color: inherit;" onclick="AddToCart('${currentTable[i]._id}')"></a>`
            ));
            row.append($('<td/>').html(currentTable[i].index));
            row.append($('<td/>').html(currentTable[i].prefix));
            row.append($('<td/>').html(currentTable[i].ornament));
            row.append($('<td/>').html(currentTable[i].tag));
            row.append($('<td/>').html(currentTable[i].purity));
            row.append($('<td/>').html(currentTable[i].stockType));
            row.append($('<td/>').html(currentTable[i].grossWt.toFixed(3)));
            row.append($('<td/>').html(currentTable[i].netWt.toFixed(3)));
            row.append($('<td/>').html(currentTable[i].stoneWt.toFixed(3)));
            row.append($('<td/>').html(currentTable[i].bill ? currentTable[i].billCustomer : ""));
            row.append($('<td/>').html(currentTable[i].bill ? currentTable[i].billUser : ""));
            row.append($('<td/>').html(currentTable[i].bill ? convertDate(currentTable[i].billDate) : ""));
            row.append($('<td/>').html(currentTable[i].sellingPrice));
            row.append($('<td/>').html(currentTable[i].isInStock ? "YES" : "NO"));
            row.append($('<td/>').html(currentTable[i].createdBy));
            row.append($('<td/>').html(convertDate(currentTable[i].createdDate)));
            row.append($('<td/>').html(currentTable[i].kaarigar ? currentTable[i].kaarigar : ""));
            row.append($('<td/>').html(currentTable[i].HUID ? currentTable[i].HUID : ""));
            row.append($('<td/>').html(currentTable[i].isKDM ? "YES" : "NO"));
            row.append($('<td/>').html(currentTable[i].remark));
            row.append($('<td/>').html(currentTable[i].photoCount));
            $("#ViewTable").append(row);
        }
    }

    function sortBy(ele, type, order) {
        if (type === "date")
            stockTable.sort((a, b) => new Date(a[ele]) - new Date(b[ele]));
        else if (type === "number")
            stockTable.sort((a, b) => Number(a[ele]) - Number(b[ele]));
        else if (type === "text")
            stockTable.sort((a, b) => {
                if (a[ele] === '' && b[ele] !== '') return 1;
                if (a[ele] !== '' && b[ele] === '') return -1;
                return a[ele].localeCompare(b[ele]);
            });
        buildTable();
    }

    function convertDate(fulldate) {
        let b = new Date(fulldate);
        let time = b.toString().slice(0, 21).split("").reverse().join("").slice(0, 5).split("").reverse().join("");
        let month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        let a = b.getDate() + ' ' + month[b.getMonth()] + ' ' + b.getFullYear() + ' ' + ' at ' + time;
        return a;
    }
    for (let i = 0; i < stockTable.length; i++) {
        stockTable[i].purity = stockTable[i].purity.name;
        stockTable[i].prefix = stockTable[i].prefix.name;
        stockTable[i].ornament = stockTable[i].ornament.name;
        stockTable[i].stockType = stockTable[i].stockType.name;
        stockTable[i].billCustomer = stockTable[i].bill && stockTable[i].bill.customer ?
            stockTable[i].bill.customer.name : "";
        stockTable[i].billUser = stockTable[i].bill ? stockTable[i].bill.user.name : "";
        stockTable[i].billDate = stockTable[i].bill ? stockTable[i].bill.createdAt : "";
        stockTable[i].createdBy = stockTable[i].createdBy.name;
        stockTable[i].kaarigar = stockTable[i].kaarigar ? stockTable[i].kaarigar.name : "";
        stockTable[i].photoCount = stockTable[i].stockImage.length;
    }
    let currentTable = JSON.parse(JSON.stringify(stockTable));
    startButtons();
    buildTable();
</script>
<script>
    function AddToCart(id) {
        $.ajax({
            type: 'get',
            url: '/addToCart?index=' + id,
            success: function (data) {
                new Noty({
                    theme: 'nest',
                    text: data.message,
                    type: data.status,
                    layout: 'topCenter',
                    timeout: 1500
                }).show();
            },
            error: function (err) {
                console.log(err.resposeText);
            }
        });
    }
</script>