body {
    font-family: sans-serif;
}

div {
    width: min-content;
}

tbody tr:nth-last-child(2) td {
    padding-bottom: 140px;
}

#previewImg {
    height: 95vh;
    width: 95vw;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

#maindata {
    position: relative;
}

#gclogo {
    height: 60px;
    position: absolute;
    top: 6px;
    left: 10px;
}

#table {
    width: 95%;
    border-collapse: collapse;
    text-align: center;
    background-image: url('../images/watermark.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;

    tbody {
        td {
            padding: 5px;
            vertical-align: top;
            white-space: nowrap;
        }

        th {
            padding: 5px;
            white-space: nowrap;
        }

        .border-top {
            border-top: 3px solid black;
        }

        .border-bottom {
            border-bottom: 3px solid black;
        }

        .border-right {
            border-right: 3px solid black;
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            object-position: center;
            // filter: grayscale(100%);
        }

        table {
            text-align: center;
        }
    }
}

.backgroundDark {
    background-color: rgba(211, 211, 211, 0.5);
}

.bold {
    font-weight: bold;
}