#header {
    display: flex !important;
    height: 50px !important;
    width: 100% !important;
    background-color: var(--header) !important;
    align-items: center !important;
    justify-content: space-around !important;

    #alogo {
        width: fit-content;
        display: flex;
        justify-content: center;
    }

    #logo {
        position: relative !important;
        height: 45px !important;
        border-radius: 50% !important;
        cursor: pointer !important;
    }

    #a {
        height: 35px !important;
        width: 35px !important;
        overflow: hidden !important;
        position: relative !important;
    }

    button {
        position: absolute !important;
        color: black !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
        font-weight: bold !important;
        font-size: 30px !important;
        background-color: inherit !important;
        border: 0 !important;

        &:hover {
            color: white !important;
        }
    }
}