#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    a,
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        text-decoration: none;
    }

    #heading {
        height: 25px;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        color: var(--buttonColor);
        text-align: center;
    }

    input {
        height: 25px;
        width: calc(100% - 32px);
        padding: 14px 16px;
        font-size: 17px;
        color: var(--inputColor);
        border: 1px solid var(--borderColor);
        background-color: var(--inputBgColor);
        border-radius: 10px;
        outline: 0;

        &::placeholder {
            color: var(--inputColorPlaceHolder);
        }

        &:disabled,
        &:read-only {
            color: var(--inputColorDisabled);
            background-color: var(--inputBgColorDisabled);
        }

        &:hover {
            color: var(--inputColor);
            background-color: var(--inputBgColorHover);
        }
    }

    select {
        height: 50px;
        width: 100%;
        padding: 14px 16px;
        font-size: 17px;
        color: var(--inputColor);
        border: 1px solid var(--borderColor);
        background-color: var(--inputBgColor);
        border-radius: 10px;
        outline: 0;

        &:hover {
            background-color: var(--inputBgColorHover);
        }
    }

    button {
        width: 100%;
        padding: 14px 16px;
        border: 0;
        background-color: var(--themeColor);
        color: var(--buttonColor);
        border-radius: 10px;
        outline: 0;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;

        &:hover {
            background-color: var(--themeColorHover);
        }
    }

    table {
        border: 1px solid var(--borderColor);
        font-size: 25px;
        outline: 0;

        th,
        td {
            border: 1px solid var(--borderColor);
            padding: 10px;
            text-align: center !important;
            white-space: nowrap;
            color: var(--buttonColor);

            button {
                margin: 0;
                left: auto;
                transform: translate(0, 0);
            }

            a {
                margin: 0;
                left: auto;
                width: auto;
                transform: translate(0, 0);
            }
        }
    }

    @media (max-width: 640px) {
        table {
            font-size: 15px;
            width: 95%;

            th,
            td {
                padding: 3px;
            }

            input,
            select {
                height: auto;
                width: 50px;
                padding: 2px;
                font-size: 8px;
            }
        }

        a,
        form {
            width: 80%;
        }

        input[type=checkbox] {
            transform: scale(0.5);
            // width: 10px;
        }

        #heading,
        select,
        button {
            width: 100%
        }

        input {
            width: calc(100% - 32px);
        }
    }
}