#home-container {
    width: 100%;

    table {
        border: 1px solid var(--borderColor);
        font-size: 12px;
        outline: 0;
        margin-top: 20px;
        margin-left: 20px;

        th,
        td {
            border: 1px solid var(--borderColor);
            padding: 5px;
            text-align: center !important;
            white-space: nowrap;
            color: var(--buttonColor);

            button {
                margin: 0;
                left: auto;
                transform: translate(0, 0);
            }
        }
    }

    @media (max-width: 640px) {
        // table {
        //     font-size: 15px;
        //     width: 100%;
        //     th,
        //     td {
        //         padding: 3px;
        //     }
        // }
    }
}